@media screen and (max-width: 767px) {

  .recoveryidentifier {
    &-form {
      h3 {
        font-size:14px;
        margin-bottom:16px;
      }
    }
    &-header {
      height:113px;
      &_logo {
        padding:30px;
        img {
          width:164px;
        } 
      }
    }
  }
}
  
@media screen and (max-width: 480px) {
  .recoveryidentifier-form_group {
    font-size:12px;
  }
  .recoveryidentifier-wrapper {
    width:calc(100% - 48px);
  }
}
@media screen and (max-width: 360px) {
  .recoveryidentifier-body {
    padding: 30px 15px;
  }
}
