.sidebar-teamList {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-right: 24px;
      a {
        padding:12px 0 12px 8px;
        height: 68px;
        display: block;
        font-size: 13px;
        color:#333;
        &:hover {
          cursor: pointer;
          color: #309FF2;
          text-decoration: none;
          .text--position {
            color: #309FF2;
          }
        }
        .avatar-user, p {
          display: inline-block;
          vertical-align: middle;
          margin:0;
        }
        p span {
          display: block;
        }
        .avatar-user {
          margin-right: 12px;
        }
      }
      + li {
        a {
          border-top: 1px solid #eee;
        }
      }
    }
  }
}


.team-header {
  &_image {
    float:left;
    margin-right: 18px;
    height: 70px;
  }
  &_profile {
    color:#474747;
    p {
      margin:0;
    }
  }
  &_name {
    color: #474747;
    font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    line-height: 1.25;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  &_position {
    font-size:14px;
  }
  &_team {
    font-size:14px;
  }
}
