@import "login/export";
@import "signup/export";
@import "recoveryidentifier/export";

.l-container--inner {
  width:1246px;
  margin:0 auto;

  &.size--half {
    width:624px;
  }
}
.l-container {
  &--inner, &--fluid {
    &.style--shadowed {
      background:white;
      border-radius: 12px;
      -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
    }
    &.padded--large {
      padding:30px;
    }
  }
}


.signup-wrapper, .login-wrapper, .recoveryidentifier-wrapper {

  .ui-input--text {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: #f5f5f5;
    border-radius: 6px;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    outline:none;
    padding: 0 12px;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    width: 100%;

    &:placeholder-shown {
      opacity: 1;
      color: rgba(0,0,0,.4);
    }

    &:-webkit-autofill {
      background-color: #f5f5f5!important;
    }
    &:focus {
      background-color: #fff;
      border: 1px solid $main-color;
      outline: none;
      &:-webkit-autofill {
        background-color: #fff!important;
      }
    }

    &.state {
      &--error {
        background-color: #fff;
        border: 1px solid $error-color;
      }
    }
  }

  .ui-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: #f5f5f5;
    border-radius: 6px;
    display: block;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    outline:none;
    padding: 0 12px;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    width: 100%;

    &:placeholder-shown {
      opacity: 1;
      color: rgba(0,0,0,.4);
    }

    &:-webkit-autofill {
      background-color: #f5f5f5!important;
    }
    &:focus {
      outline: none;
      &:-webkit-autofill {
        background-color: #fff!important;
      }
    }
  }

  .ui-input_error {
    color:#{$error-color};
    font-size:13px;
    margin-top:8px;
  }


  @media screen and (max-width: 767px) {
    .ui-input_error {
      font-size:12px;
      margin-top:8px;
    }
  }

  .ui {
    &-form {
      h3 {
        border: none;
        -webkit-box-shadow: 0px 18px 18px -18px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 18px 18px -18px rgba(0, 0, 0, 0.05);
        color: #{$main-color};
        font-size:16px;
        font-weight:500;
        height: 44px;
        line-height: 44px;
        margin-bottom:24px;
        margin-top:-15px;
        text-align: center;
        width: 100%;
      }
      &_group {
        &--inline {
          margin:0 -4px;
        }
        &_col {
          display:inline-block;
          width:calc(50% - 2px);
          padding:0 4px;
        }
        label {
          display:block;
          margin: 0;
          padding: 0;
          text-align: left;
          + input, + select, + p {
            margin-top:8px;
          }
        }
        input {
          width: 100%;
        }
        p + p {
          margin-top:8px;
        }
      }
      &_group + &_group {
        margin-top:28px;
      }
    }
  }
}
