@import "variables.scss";
@import "bootstrap.scss";
@import "framework.scss";
@import "layouts.scss";
@import "pages/common.scss";
@import "pages/organization.scss";
@import "pages/teams.scss";
@import "pages/employee.scss";
@import "pages/okr.scss";
@import "pages/mypage.scss";
@import "ui/users/common.scss";
@import "ui/titles.scss";
@import "ui/buttons.scss";
@import "ui/form.scss";
@import "ui/stepper.scss";
@import "ui/datepicker.scss";
@import "partials/okr/timeline";
@import "partials/layouts/topbar";
@import "partials/notification/notification";
@import "pages/index.scss";
@import "pages/help.scss";

@import "../../modules/comment/assets/sass/module.scss";
@import "../../modules/account/assets/sass/module.scss";
@import "mavon-editor/dist/css/index.css";

body {
  margin: 0;
  padding: 0;
  font-family: Lato,'Hiragino Kaku Gothic ProN',sans-serif;
  -webkit-font-smoothing: antialiased;
}
