$main-color:#309FF2;
$main-color-light: rgba(48, 159, 242, 0.20);
$main-color-hover:#1a74b7;
$text-color:#475160;
$error-color: #ff3d55;
$bg-color: #ffffff;
$bg-fullscreen: #f7f8fb;

@width-mobile: 320;
@width-tablet: 560;
